<% unless current_user %>

	<form method="POST" action="/sign-in">   
		<label for="username">Username</label>   
		<input type="text" name="username">   
		<label for="password">Password</label>   
		<input type="password" name="password">   
		<input type="submit"> 
	</form>
	<a href="/signup">Sign Up</a>

<% else %>

	<button><a href="/log-out">Logout</a></button>
	<br>
	<%= current_user.username %>
<% end %> 

