<form method="POST" action="/PEdit/<%= @post.id %>">
	<label for="title">Title</label>
	<input type="text" name="title" value="<%= @post.title %>"><br>
	<label for="body">Body</label>
	<input type="text" name="body" value="<%= @post.body %>"><br>
	
	<input type="submit">
</form>