body {
	text-align: center;
	font-family: "Helvetica";
	/*font-family: "didot", didot;*/ 
}

header {
	background-color: #89cff0;
	padding: 10px;
	font-size: 50px;
}

#epost {
	border: solid 1px black;
	padding: 30px;
	width: 40%;
	margin: auto;
	background-color: pink;
}

#pinfo {
	border: solid 1px black;
	padding: 30px;
	width: 40%;
	margin: auto;
}

#uname {
	font-size: 28px;
}

#comment-body {
	width: 35%;
	height: 40px;
}